<html ng-app="myApp">
  <head>
    <title>Benjamin Singer</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//bootswatch.com/sandstone/bootstrap.min.css" rel="stylesheet">
    <link href="css/mycss.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="js/myjs.js"></script>
  </head>
  <body ng-controller="controller as c">
    <div id="dimmer"></div>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Ben Singer</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="" ng-click="page = 'about'">About</a>
            </li>
            <li>
              <a href="" ng-click="page = 'blog'">Blog</a>
            </li>
            <li>
              <a href="" ng-click="page = 'projects'">Projects</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="" ng-click="contact">Contact</a></li>
          </ul>

        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="megaTitle whiteText">Hi, I'm Ben Singer</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center whiteText">
          <h2>I'm a software engineer, and more</h2>
          <br>
          <br>
          <p>Welcome to my website! This is where you can quickly look at all the stuff
          that I've been working on, read my thoughts, and find my contact information.</p>
        </div>
      </div>
    </div>
  </body>
</html>
